page-create-account {
     .background
    {
        background-image:url('../assets/b.jpg');
    }
    .scroll-content
    {
        align-content: top;
        display: flex;
        flex-direction: column;
        justify-content:top;
        text-align: top;
    }
    ion-card.card{
        box-shadow: none;
        align-self: center;
        background: rgba(70,70, 70, 0.4);
        border-radius: 7px;
    }
     .invalid {
            border: 1px solid #ea6153;
        }
 
    .ion-label
    { 
        color: #000;
    }
    a,p,
    ion-card-header.card-header
    {
color: #000;
    }
.list >.item-block:first-child{
    border: medium none;
}
.p{
    color: #000;

}
    .item{
        margin-bottom: 10px;
        background: rgba(200,255, 255,0.5);
        border: medium none;
        
        .text-input,{
            color: #000;
        }
      




}
}



